django==3.1.2
dj-database-url==0.5.0
django_heroku==0.3.1
gunicorn==20.0.4
psycopg2==2.8.6
python-decouple==3.3
Pillow==8.0.1
social-auth-app-django==4.0.0
google-cloud-storage==1.10.0
django-storages==1.7.1