body {
    margin: 0;
    font-family: Arial;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar {
    overflow: hidden;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height: 80.03px;
    background: #003366;
    mix-blend-mode: multiply;
}

.nav-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 16px;
    padding-left: 3rem;
    text-decoration: none;
    font-size: 25px;
}

.nav-bar a:hover {
    color: red;
}