* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*nav-bar part*/
.nav-bar {
    max-width: 100%;
    height: 1em;
    font-size: 1.8em;
    background-color: #003366;
    padding: 1em 1.5em 1em 1em;
    display: flex;
    justify-content: space-between;
}

.nav-bar li {
    list-style-type: none;
    padding: 0 0.5em 0 0.5em;
}

.nav-bar a {
    padding: 0 0 0 1em;
    text-decoration: none;
    color: white;
}
.nav-bar ul {
    display: flex;
}
.nav-bar a:hover {
    color: red;
}

.main {
    width: 100%;
}

.create-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.create-container .wrap-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;
}

.wrap-container .create-form {
    padding: 5em 15em 5em 15em;
}

.text-title {
    font-size: 2.2em;
    line-height: 2em;
    font-weight: bold;
    letter-spacing: 0.03em;
}
form textarea{
    width: 100%;
    font-size: 1em;
    padding: 1em;
    margin: 1em;
    border: none;
    resize: none;
    overflow: hidden;
    border-bottom: solid 2px #474544;
    box-sizing: border-box;
}
input[type="number" i] {
    padding: 1px 2px;
    text-align: center;
    overflow: hidden;
    width: 60px;
    height: 35px;
    border: none;
    border-bottom: solid 2px #474544;
    background-color:white;
}