* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/*nav-bar part*/
.nav-bar {
    max-width: 100%;
    height: 1em;
    font-size: 1.8em;
    background-color: #003366;
    padding: 1em 1.5em 1em 1em;
    display: flex;
    justify-content: space-between;
}

.nav-bar li {
    list-style-type: none;
    padding: 0 0.5em 0 0.5em;
}

.nav-bar a {
    padding: 0 0 0 1em;
    text-decoration: none;
    color: white;
}
.nav-bar ul {
    display: flex;
}
.nav-bar a:hover {
    color: red;
}

.row {
    width: 100%;
    height: 100%;
}

.row .event-image {
    margin: 3em 1em 1em 1em;
    display: flex;
    justify-content: center;
    
}
.row .event-image img {
    border-radius: 1.2em;
    width: 26em;
    height: auto;
    box-shadow: 3px 3px lightgray;
}

.row .event-detail-box {
    margin: 3em 1em 5em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 2em;
    word-wrap: break-word;
}
.event-detail-box #event-name {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

/*button*/
button {
    background-color: lightgreen;
    border: 1px solid white;
    border-radius: 4px;
    padding: 0.8em 2em 0.8em 2em;
    margin: 1em;
    cursor: pointer;
    box-shadow: 0 0 4px #999;
    background-position: center;
    transition: background 0.3s;
}
button:hover {
    background: darkgreen radial-gradient(circle, transparent 1%,  darkgreen 1%) center/15000%;
    color: white;
}
button:active{
    background-color:#292d3e;
    background-size: 100%;
    transition: background 0s;
}
a button {
    text-decoration: none;
    color: white;
    align-items: center;
    font-size: 1.3em;
    text-transform: uppercase;
}

.leave-button button {
    background-color: lightcoral;
    transition: background 0.3s;
}
.leave-button button:hover {
    background: red radial-gradient(circle, transparent 1%,  red 1%) center/15000%;
}
.delete-button button {
    background-color: red;
    transition: background 0.3s;
}
.delete-button button:hover {
    background: darkred radial-gradient(circle, transparent 1%,  darkred 1%) center/15000%;
}

/*multiplatform device size*/
@media screen and (max-width: 1440px) {
    .row .event-image img {
        width: 22em;
    }
}
@media screen and (max-width: 1024px) {
    .nav-bar {
        height: 0.8em;
        font-size: 1.6em;
    }
    .event-detail-box #event-name {
        font-size: 1.8em;
    }
}
@media screen and (max-width: 778px) {
    .nav-bar {
        height: 0.7em;
        font-size: 1.3em;
    }
    .row .event-image img {
        width: 20em;
    }
}
@media screen and (max-width: 540px) {
    .nav-bar {
        height: 0.6em;
        font-size: 1.1em;
    }
}
@media screen and (max-width: 376px) {
    .nav-bar {
        font-size: 1em;
    }
    .row .event-image img {
        width: 16em;
        height: 100%;
    }
    .event-detail-box #event-name {
        font-size: 1.6em;
    }
    .row .event-detail-box {
        font-size: 0.9em;
    }
}