* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/*nav-bar part*/
.nav-bar {
    max-width: 100%;
    height: 1em;
    font-size: 1.8em;
    background-color: #003366;
    padding: 1em 1.5em 1em 1em;
    display: flex;
    justify-content: space-between;
}

.nav-bar li {
    list-style-type: none;
    padding: 0 0.5em 0 0.5em;
}

.nav-bar a {
    padding: 0 0 0 1em;
    text-decoration: none;
    color: white;
}
.nav-bar ul {
    display: flex;
}
.nav-bar a:hover {
    color: red;
}
.alert {
    width: 100%;
    height: 40px;
    background: #fff;
    border-top-width: 4px;
    border-top-style: solid;
    text-align: center;
    line-height: 41px;

}
div.alert.alert-success {
    border-color: lightgreen;
}


/*banner part*/
.banner-container {
    overflow: hidden;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.banner {
    position: absolute;
    display: block;
    opacity: 0.8;
}
.banner img {
    max-width: 100%;
}
.text-banner {
    position: relative;
    z-index: 2;
    color: white;
    font-size: 2.3vw;
    text-shadow: 4px 3px rgb(0,51,102);
    font-weight: 100;
    padding-top: 7em;
    padding-bottom: 9em;
    margin-bottom: 0;
    animation: TextUp 0.9s ease;
}
.text-banner ul {
    line-height: 2.3em;
}

section .event-section {
    width: 100%;
}

.event-container {
    padding: 2em 5em 2em 5em;
    margin: 1em 1em 1em 1em;
}
/*start-line*/
#start-line {
    margin: 1.5em 0 0 0;
}
/*if no event part*/
#no-event h2 {
    display: flex;
    justify-content: center;
    font-size: 2em;
    padding: 2em 0 2em 0;
}
/*event title and search*/
.event-container .event-title {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
}
.event-container .event-title form {
    display: flex;
}
.event-container .event-title input {
    height: 2.8em;
    width: 18em;
    /* width: 75%; */
}
.event-container .event-title button {
    height: 2.8em;
    width: 3em;
    /* width: 25%; */
}

/*each event photo and detail*/
.event-container #event {
    padding: 0 0 4em 0;
}
.event-container .each-event {
    padding: 2em 0 2em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.event-container .each-event img {
    width: 25%;
    border-radius: 15px;
    box-shadow: 3px 3px lightgray;
}
.event-container .each-event .event-description-box {
    font-size: 1.5em;
    width: 60%;
    line-height: 2em;
}
.event-container .each-event .event-description-box a {
    text-decoration: none;
    font-size: larger;
    color: brown;
}
.event-container .each-event .event-description-box a:hover {
    color: red;
}
/*create event button*/
.event-container .create-event {
    display: flex;
    justify-content: center;
}
#create-more-event {
    width: 10em;
    height: 4em;
    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 4em;
    margin-bottom: 4em;
    font-size: 1.3em;
}

/*event-history-title in event-history.html*/
.event-history-title {
    font-size: 1.6em;
    padding: 0.8em 0 0.8em 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 1%, rgba(0,51,102,1) 47%, rgba(0,70,255,0.6337885495995272) 100%);
    text-align: center;
    color: white;
    border-radius: 15px;
    margin: 1em;    
}
/*alert messages*/
.alert {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.16);
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: #d5d5d5;
}
div.alert.alert-warning {
    border-color: #f4cb00;
}
div.alert.alert-success {
    border-color: lightgreen;
}
div.alert.alert-danger {
    border-color: red;
}
.alert div {
    margin: 17px 0px 18px 0px;
    flex: auto;
    overflow: hidden;
    text-align: center;
}
h5 {
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 600;
    color: #303030;
}
/*multiplatform device size*/
@media screen and (max-width: 1024px) {
    .nav-bar {
        height: 0.8em;
        font-size: 1.6em;
    }
    #no-event h2 {
        font-size: 1.5em;
    }
    .event-container .event-title {
        font-size: 1.3em;
    }
    .event-container .each-event img {
        width: 25%;
    }
    .event-container .each-event .event-description-box {
        font-size: 1em;
        padding-top: 0.7em;
        line-height: 1.5em;
    }
    #create-more-event {
        font-size: 1em;
    }
    .event-history-title {
        font-size: 1.4em;
    }
}
@media screen and (max-width: 778px) {
    .nav-bar {
        height: 0.7em;
        font-size: 1.3em;
    }
    h5 {
        font-size: 1.2rem;
    }
    .event-container .event-title {
        font-size: 1.1em;
    }
    .event-container .event-title input {
        height: 2.2em;
        width: 14em;
    }
    .event-container .event-title button {
        height: 2.2em;
        width: 3em;
    }
    .event-container .each-event {
        flex-direction: column;
    }
    .event-container .each-event img {
        width: 80%;
    }
    .event-container .each-event .event-description-box {
        font-size: 1em;
        padding-top: 0.7em;
        line-height: 1.5em;
    }
    #create-more-event {
        font-size: 1em;
    }
}
@media screen and (max-width: 540px) {
    .nav-bar {
        height: 0.6em;
        font-size: 1.1em;
    }
    h5 {
        font-size: 1.1rem;
    }
    #no-event h2 {
        font-size: 1.3em;
        padding: 3em 0 0 0;
    }
    .event-container .event-title {
        flex-direction: column;
        font-size: 0.8em;
    }
    .event-container .each-event .event-description-box {
        font-size: 0.7em;
    }
    .event-history-title {
        font-size: 1.2em;
    }
}
@media screen and (max-width: 376px) {
    .nav-bar {
        font-size: 1em;
    }
    h5 {
        font-size: 1rem;
    }
    .event-container .each-event img {
        width: 100%;
    }
    .event-history-title {
        font-size: 0.9em;
    }
    #no-event h2 {
        font-size: 1.1em;
    }
    #create-more-event {
        font-size: 0.7em;
    }
}

/*app info text animation*/
@keyframes TextUp {
    0% {
        padding-top: 9em;
    }
    100% {
        padding-top: 7em;
    }
}