.google{
    color: white;
    background-color: #a51603;
    border: 1px solid lightblue;
    border-radius: 2em;
    cursor: pointer;
    font-size: 1em;
    margin: 1em 4em 2em;
    padding: 0.4em 0 0.4em 0;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.main {
    width: 100%;
}

.login-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.wrap-login {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;
}

.wrap-login .login-form {
    width: 560px;
    min-height: 100vh;
    display: block;
    background-color: white;
    padding: 173px 55px 55px;
}
.wrap-signup {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;
}

.wrap-signup .signup-form {
    width: 560px;
    min-height: 100vh;
    display: block;
    background-color: white;
    padding: 100px 55px 55px;
}

.login-title {
    font-size: 3em;
    display: flex;
    justify-content: center;
    text-shadow: 4px 2px 3px lightgray;
}

form .input {
    font-size: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-shadow: 4px 2px 3px lightgray;
}
form .input input {
    font-size: 1em;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
}

form .input button {
    color: white;
    background-color: #003366;
    border: 1px solid lightblue;
    border-radius: 2em;
    cursor: pointer;
    font-size: 1em;
    margin: 1em 4em 2em;
    padding: 0.4em 0 0.4em 0;
    transition: all 0.2s ease-in-out;
}
button:hover {
    box-shadow: 1px 1px lightblue, 2px 2px lightblue, 3px 3px lightblue;
    transform: translateX(-3px);
}

.error-red {
    line-height: 2em;
}
.login-image {
    width: calc(100% - 560px);
}
.login-image img {
    overflow: hidden;
    position: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.8;
}
a {
    text-decoration: none;
}
a:hover {
    color: red;
}
.create-account {
    display: flex;
    justify-content: center;
}

:focus {
    outline: none;
    background-color: lightgray;
}

@media screen and (max-width: 888px) {
    .wrap-login .login-form {
        width: 100%;
    }
    .wrap-signup .signup-form {
        width: 100%;
    }
}