<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title> Kvent </title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/create-event.css' %}">

</head>

<body>
    <nav class="nav-bar">
        <ul>
            <li><a href="{% url 'index' %}">Kvent</a></li>
            <li><a href="{% url 'index' %}" id="event-logo">Events</a></li>
        </ul>
    </nav>
    <div class="row">
        <div id="create"> 
            Create Event 
            <hr class="line">
        </div>
        <div id="content"> 
            Event Name <br>
            <input id="name-input" type="input" maxlength="50"> <br>
            <br>Short Description <br>
            <input id="short-description-input" type="input" maxlength="80"> <br>
            <br>Long Description <br>
            <input id="long-description-input" type="input" maxlength="255"> <br><br>
            <br><br> Location <br>
            <input id="location-input" type="input" maxlength="80"> <br>
            <button id="submit-button" type="submit"> SUBMIT </button>
            
        </div>
    </div>
</body>

</html>