<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title>Event Detail</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/event-detail.css' %}">

</head>

<body>
    <nav class="nav-bar">
        <ul>
            <li><a href="{% url 'index' %}">Kvent</a></li>
            <li><a href="{% url 'index' %}" id="event-logo">Events</a></li>
        </ul>
    </nav>
    <div class="row">
        <hr class="line">
        <div class="event-image">
            <img src="{{ event.get_photo.url }}" alt="sad"/ width="300px" height="auto">
        </div>
        <div class="event-detail-box">
        <h4 id="event-name"> {{ event.get_event_name }} </h4>
        <h3>{{ event.get_long_description }}</h3>
        <h3>Will be held at {{ event.get_location }} </h3>
        <h3>Capacity : {{ event.get_number_people}} </h3>
        <a class="button-delete" href="{% url 'delete-event' event.id%}" > Delete </button>
        </div>

    </div>

</body>


</html>