<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title>Event Detail</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/event-detail.css' %}">

</head>

<body>
    <nav class="nav-bar">
        <ul>
            <li><a href="{% url 'index' %}">Kvent</a></li>
            <li><a href="{% url 'index' %}" id="event-logo">Events</a></li>
        </ul>
    </nav>
    <div class="row">
        <hr class="line">
        <div class="event-image">
            {% if not event.get_photo.url == '/media/upload/images/no_img.png' %}
            <img src="{{ event.get_photo.url }}" alt="sad" width="300px" height="auto" />
            {% else %}
            <img src="/media/upload/no_img.png" width="300px" height="auto" />
            {% endif %}
        </div>
        <div class="event-detail-box">
            <h4 id="event-name"> {{ event.get_event_name }} </h4>
            <h3>{{ event.get_long_description }}</h3>
            <h3>Will be held at {{ event.get_location }} </h3>
            <h3>Capacity : {{ event.get_number_people}} </h3>

            <h3>Host: {{ event.user }}</h3>
        
            {% if user not in event.participants.all %}
                {% if event.user == request.user.username %}
                    <a class="button-delete" href="{% url 'delete-event' event.id%}"> Delete </a>
                {% elif event.user != request.user.username %}
                    {% if event.get_vacant %}
                    <h3> Status : Vacant </h3>
                    <h3> Available : {{ event.get_available_capacity }} </h3>
                    <a class="button-delete" href="{% url 'join-event' event.id%}"> Join </a>
                    {% elif  not event.get_vacant%}
                        <h3> Status : Full </h3>
                    {% endif %}
                {% endif %}
            {% endif%}

            {% for user in event.participants.all %}
            {% if request.user.username == user.username %}
            <a class="button-delete" href="{% url 'leave-event' event.id%}"> Leave </a>
            {% endif%}
            {% endfor %}


            {% for user in event.participants.all %}
                <h3> Participants :  {{ user.username }} </h3>
            {% endfor %}


        </div>
    </div>

</body>


</html>