<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title> Kvent </title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/index.css' %}">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">

</head>

<body>
    <nav class="nav-bar">
    <ul>
        <li><a href="{% url 'index' %}">Kvent</a></li>
        <li><a href="{% url 'index' %}" id="event-logo">Events</a></li>
        {% if user.is_authenticated %}
               <li> <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a></li>
        {% endif %}
    </ul>
        {% if user.is_authenticated %}
        <a href="{% url 'profile' %}" id="event-logo">Profile</a>
        {% else %}
        <a href="{% url 'login' %}" id="event-logo">Login</a>
        {% endif%}
        
    </nav>

    
    <div class="banner-container">
        <div class="banner">
            <img src="{% static '/images/banner.jpg' %}" />
        </div>
        <div class="text-banner">
            <ul>
                <li><h1>KVENT</h1></li>
                <li><p>an online booking and appointment web-application.</p></li>
            </ul>
        </div>
    </div>
    <section class="event-section">
        <div class="event-container">
            <div class="event-title">
                <h1>Event</h1>
                <form method="GET">
                    <input class="search" name="query" type="search" value="{{ request.GET.query }}" placeholder="Search Event..."/>
                    <button class="submit" type="submit" />
                </form>
            </div>
            <hr id="start-line">
            <div id="no-event">

                {% if not all_event %}
                <h2> No Events </h2>
                <div class="create-event">
                    <a href="{% url 'create-event' %}"><button id="create-more-event" type="submit"> CREATE EVENT </button></a>
                </div>
                {% endif %}
            </div>
            <div id="event">
                {% if all_event %}
                {% for event in all_event %}
                <div class="each-event">
                {% if not event.get_photo.url == '/media/upload/images/no_img.png' %}
                    <img src="{{ event.get_photo.url }}" width="350px" height="auto" />
                {% else %}
                    <img src="media/upload/no_img.png" width="350px" height="auto" />
                {% endif %}
                <div class="event-description-box">
                <a href= "{% url 'event-detail' event.id %}"><h4 id="event-name"> {{ event.get_event_name }} </h4></a>
                <h3 id="event-description">
                    {{ event.get_short_description }} <br>
                    At {{ event.get_location }} <br>
                    Capacity : {{ event.get_number_people}}
                </h3>
                </div>
                </div>
                <hr class="line-break">
                {% endfor %}
                <div class="create-event">
                    <a href="{% url 'create-event' %}"><button id="create-more-event" type="submit"> CREATE EVENT </button></a>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
</body>

</html>