<html lang="en">

<head>
    {% load static %}
    {% block css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/profile.css' %}">
    {% endblock %}

</head>

{% block content %}

<body>
    <nav class="nav-bar">
        <a href="{% url 'index' %}">Kvent</a>
    <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'event-history' username=request.user.username %}" id="event-logo">Your events</a></li>
        <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
        {% endif%}
    </ul>
    </nav>
 <div class="row">
        <div class="column">
            <ul>
                <li><img id="profile-img" src="{% static 'images/profile.png' %}"></li>
            </ul>
        </div>
        <div class="column" id="info">
            <ul>
                <li id="h1">Account Infomation</li>
                <br>
                <br>
                <li id="h2">E-mail Address:</li>
                <br>
                <li>{{ user.email }}</li>
                <br>
                <br>
                <li id="h2">Contact Infomation:</li>
                <br>
                <li>Name: {{ user.first_name}} {{ user.last_name }}</li>
                <br>
                <li>Phone number: {{ user.phone_num }}</li>
                <br>
                <li>Address: {{ user.address }}</li>
                <br>
                <br>
                <li id="h2">Event History:</li>
                <br>
            </ul>
        </div>
    </div>
</body>

{% endblock content %}