{% load static %}

<link rel="stylesheet" href="{% static 'kvent/login.css' %}">
<div class="login-box">
    <div class="lb-header">
    <a id="login-box-link" href="{% url 'login' %}">Login</a>
    <a class="active" href="{% url 'signup' %}" id="signup-box-link">Sign Up</a>
  </div>
    <form class="username-signup" method="post" action="{% url 'signup'%}">
        {% csrf_token %}
        <div class="u-form-group">
            <label>{{user.email}}</label>
        </div>
        <div class="u-form-group">
            <label>{{user.username}}</label>
        </div>
        <div class="u-form-group">
            <label>{{user.password}}</label>
        </div>
        <div class="u-form-group">
            <button type="submit">Sign Up</button>
        </div>
    </form>
    <div style="position: absolute; left: 35px; top: 320px;">
        <a href="{% url 'login' %}">
             <img src="{% static 'myform/images/point.png' %}" width="50" height="48">
        </a>
    </div>
</div>
